.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
input[type="text"] {
  border: solid 1px;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 30%;
}
/*button {
  padding: 10px;
  border: solid 1px blueviolet; 
  background: var(--primary-color);
  color: rgb(9, 32, 240);
  border-radius: 8px;
}*/
@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}
@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}

textarea {
  font-size: 4rem;
  letter-spacing: 1px;
  padding: 10px;
  line-height: 3.0;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
}